h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: white;
}
/* HOMEPAGE*/

.position-buttom {
  padding-left: 40%;
  padding-top: 10%;
  position: relative;
}

button {
  background-color: #8c1936;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block; 
}

/* button:hover {
  background-color: #cc99a5;
  color: #8c1936;
  transform: scale(1.1); 
  box-shadow: 0 0 15px rgba(140, 25, 54, 0.5); 
}

button:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(204, 153, 165, 0.8);
} */





/* HEADER*/
.main-model-grid{
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  
}

.model {
  width: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.category-product-grid {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product-page{
  width: 100%;
  object-fit: cover;
  border-radius: 10px; 
  
}

.accesories-grid {
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.accesories {
  width: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

body {
  background-color: #8c1936;
}

ul {
  display: flex;
  list-style: none;
  
}
li {
  margin-left: 3rem;
}

h1 {
  
  text-align: center;
  margin-top: 10%;
  font-size: 500%;
  color: #cc99a5;
}

/*FOOTER*/

footer {
  border-top: 1px solid white;
}

.footer-aimee {
  text-align: left;
  font-size: 0.7vw;
  font-weight: 400;
}

.footer-aimee2 {
  font-size: 0.7vw;
  font-weight: 300;
}

/*PRODUCT PAGE*/
.category-product{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-page{
  width: 100%;
}

/*ABOUT US PAGE*/
.aimeelogo{
  width: 40%;
  margin-left: 28%;
}
.signiturenames{
  width: 50%;
  margin-left: 23%;
}

/*DETAIL PRODUCT PAGE PICTURE WHITE BLOUSE DRESS*/

